$color: #009bd0;

.card {
  background: $color;
  padding: 10px;
  position: relative;
  width: 260px;
  color: #ffffff;

  &__title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin: 5px 0 0;
  }

  &__angle {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 1000px;
      border-top: 30px solid transparent;
      border-left: 30px solid $color;
    }
  }

}